/**
 * Colors #colors
 */

$body-bg: #002549 !default;
$body-color:          #ffffff !default;
$body-second-color:   #152337 !default;
$body-light-blue-color: #00A9E0;
$light-green-color: #00B388;
$active-color:        #ffc600;
$active-color-hover:	#ffc600;
$color-active-link:   #1c2b3f;
$error-color:					#B03060;
$modal-bg:            #0d1827;
$black-color:         #000000;
$white-color:         #fff;
$white:               #fff;
$grey-color:  				#616161;
$main-page-main-color:  #002549;
$blue:                  #002549;
$blue-light:            #0077C8;
$gray-light: #CBCBCA;
$blue-light-media: #00A8DF;
$main-page-second-color:  #FAC737;

$color-light-grey:    rgba(34,36,38,.15);



/**
 * Form colors
 */
$error-form-color:  $error-color;



