// Variables
//

$img-src: '../../../assets/images/';
// $slick-loader-path: $img-src;
// $font-src: '../../../assets/fonts/';


// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$screen-xs: 0;
$screen-xm: 544px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1280px;
$screen-xl: 1640px;
