@font-face {
  font-family: $base-font;
  src: url($font-src + 'OpenSansRegular/OpenSans-Regular.woff2') format('woff2'),
  url($font-src + 'OpenSansRegular/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
