@font-face {
  font-family: $second-font-bold;
  src: url($font-src + 'LatoBlack/Lato-Black.woff2') format('woff2'),
  url($font-src + 'LatoBlack/Lato-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
