@font-face {
  font-family: $second-font;
  src: url($font-src + 'LatoRegular/Lato-Regular.woff2') format('woff2'),
  url($font-src + 'LatoRegular/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
