@font-face {
    font-family: $third-font;
    src: url($font-src + 'OswaldBold/Oswald-Bold.woff2') format('woff2'),
    url($font-src + 'OswaldBold/Oswald-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  